.section-title {
  color: var(--section-title-color);
  font-size: var(--section-title-font-size);
  font-weight: var(--section-title-font-weight);
  text-align: center;
  /* line-height: 1 !important; */
}

.section-description {
  font-size: var(--section-description-font-size);
  max-width: var(--section-description-max-width);
  margin: var(--section-description-margin);
}
