.accordion-flush > .accordion-item:last-child {
  border-bottom: 1;
}

.accordion {
  color: var(--color-white) !important;
  --bs-accordion-bg: var(--color-primary-700);
}

.accordion-item {
  color: var(--color-white) !important;
  /* var(--bs-accordion-color); */
  /* background-color: var(--color-primary); */
  border: var(--bs-accordion-border-width) solid
    var(--bs-accordion-border-color);
}
.accordion-button {
  color: var(--color-white) !important;
}

.accordion-button:focus,
.accordion-button:hover {
  background-color: var(--primary-800);
  box-shadow: var(--primary-700);
}

.accordion-button:not(.collapsed) {
  color: var(--background);
  background-color: var(--color-primary);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}

.accordion-button::after {
  /* Note the fill attribute, is used to set the icon color */
  /* Also Note that the SVG content needs to be url-escaped for this to work, e.g. # gets replaced with %23. */
  /* background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dc3545'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>"); */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

/* This modifies the accordion icon color when the accordion is open or active */
.accordion-button:not(.collapsed)::after {
  /* Note the fill attribute, is used to set the icon color */
  /* Also Note that the SVG content needs to be url-escaped for this to work, e.g. # gets replaced with %23. */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
