.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 250px; or auto, or adjust as needed */
  overflow: hidden;
  /* position: relative; */
}

.gallery-image {
  width: 98%;
  height: 250px;
  object-fit: cover;
}

.figure {
  position: relative;
}

.figure-caption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0rem;
  width: 100%;
  height: 97%;
  display: grid;
  place-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  opacity: 0;
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 0.03rem;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.5);
  transition: var(--transition-medium);
}

.figure:hover .figure-caption {
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  color: var(--color-primary) !important; /* or any color you want */
  font-size: 1.8rem !important;
  opacity: 1 !important; /* force full visibility */
}

/* Optional: Tweak positioning */
.slick-prev {
  /* margin-top: 2.5rem !important; */
  left: -0.2rem !important;
  z-index: 5;
}

.slick-next {
  /* margin-top: 2.5rem !important; */
  right: 0.4rem !important;
  z-index: 5;
}

.slick-dots {
  bottom: -2.8125rem !important;
}

.slick-prev:before,
.slick-next:before {
  color: var(--color-primary) !important;
  font-size: 1.5rem !important;
  opacity: 1 !important;
}

.slick-dots li button:before {
  font-size: 1.2rem !important;
  color: var(--color-primary) !important;
}

.slick-slider {
  /* margin-left: 0.5rem;
  margin-right: 0.5rem; */

  /* background-color: chartreuse; */
  /* margin-right: 2.5rem; */
  /* width: 380px !important; */
}

.slick-slider .slick-slide {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  /* width: 380px !important; */
}

.slick-slider .slick-list {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  /* background-color: red; */
}
.slick-slider .slick-track {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
