.gallery-slide {
  padding: 0 0.4rem;
}

.gallery-container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.img-body img {
  display: flex;
  margin: 0 auto;
  height: 40vh;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-body {
  width: 400px;
  aspect-ratio: 1/1;
  outline-color: red;
  display: inline-block;
}

.slider-container {
  margin: 0 auto !important;
  width: 100% !important;
  height: 80vh !important;
  padding: 1rem !important;
  margin: 1rem !important;
  border-color: red !important;
}
.figure-caption {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-white);
  opacity: 0;
  transition: var(--transition-medium);
  font-weight: 800;
  font-size: 1.1rem;
}

.gallery-container:hover .figure-caption {
  opacity: 1;
}

.slick-slider {
  /* width: 100% !important; */
}

.slick-list {
  /* width: 100% !important; */
}

/* Slick Fixes for Mobile */
.slick-track {
  display: flex !important;
}

.slick-slide {
  min-width: 0 !important;
}

/* Arrows */
.slick-prev:before,
.slick-next:before {
  color: var(--color-primary) !important;
  font-size: 1.8rem !important;
  opacity: 1 !important;
}

.slick-prev {
  left: -0.3rem !important;
  z-index: 5;
}

.slick-next {
  right: -0.3rem !important;
  z-index: 5;
}

.slick-dots {
  bottom: -2.8rem !important;
}

.slick-dots li button:before {
  font-size: 1rem !important;
  color: var(--color-primary) !important;
}

/* Fix slider breaking on mobile */
/* @media (max-width: 576px) {
  .section-wrapper {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .container-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
} */
