.benefits-card {
  background-color: var(--benefits-card-background-color);
}

.benefit-icon {
  font-size: 2.5rem;
  margin-bottom: 0.6rem;
  transition: var(--transition-medium);
}

.benefits-card:hover .benefit-icon {
  transform: scale(1.2);
}
