.about-section {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
}

.left-plant {
  position: absolute;
  left: 0;
  top: 1rem;
  width: 13rem;
  opacity: 0.5;
  z-index: 0;
}

.about-image {
  max-width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-image);
}

.toxin {
  font-weight: 800;
  border-bottom: 2px dotted var(--color-text) !important;
  transition: var(--transition-medium);
}

.toxin:hover,
.toxin:focus {
  color: var(--color-text-dark);
  border-bottom: 2px solid var(--color-text-dark) !important;
}
