@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playpen+Sans+Thai:wght@100..800&display=swap");
/* font-family:"Mulish", sans-serif; */
/* font-family:"Playpen Sans Thai", sans-serif; */
:root {
  /* fonts */
  --font-family: "Mulish", sans-serif;

  /* colors */
  --color-black: #242424;
  --color-white: #ffffff;
  --color-light-white: #fbfdfb;
  --color-background: var(--color-white-light);
  --color-primary: #005713;
  --color-secondary: #008000;
  --color-accent: #8fe862;
  --color-accent-light: #e5ffeb4d;
  --color-grey: #808080;
  --color-light-grey: rgb(211, 211, 211);
  --color-text: #212529bf;
  --color-text-dark: #213547;
  --color-headings: var(--color-text-dark);

  /* primary-shades*/
  --color-primary-50: #e5ffeb;
  --color-primary-100: #ccffd7;
  --color-primary-200: #99ffaf;
  --color-primary-300: #66ff87;
  --color-primary-400: #33ff5f;
  --color-primary-500: #00ff37;
  --color-primary-600: #00cc2c;
  --color-primary-700: #009921;
  --color-primary-800: #006616;
  --color-primary-900: #00330b;
  --color-primary-950: #001a06;

  /* linear gradient */
  --gradient-primary: linear-gradient(
    120deg,
    var(--color-primary) 30%,
    var(--color-secondary) 60%,
    var(--color-accent) 100%
  );

  --gradient-secondary: linear-gradient(
      90deg,
      var(--color-primary),
      var(--color-secondary) 50%,
      var(--color-accent) 100%
    )
    0%/200%;

  --gradient-accent: linear-gradient(
      120deg,
      var(--color-primary) 30%,
      var(--color-secondary) 50%,
      var(--color-accent) 100%
    )
    0% / 120%;

  --gradient-white: linear-gradient(to bottom, #f7f7f7 0%, #ffffff 100%);

  --gradient-header-top-bar: linear-gradient(
    96deg,
    var(--color-primary),
    var(--color-secondary),
    var(--color-accent)
  );

  --gradient-logo: linear-gradient(
      135deg,
      var(--color-primary) 30%,
      var(--color-secondary) 60%,
      var(--color-accent) 100%
    )
    0%/ 100%;

  --gradient-logo-hover: linear-gradient(
      135deg,
      var(--color-primary) 30%,
      var(--color-secondary) 100%
    )
    20%/ 120%;

  /* spacing */
  --spacing-small: 3px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-3xl: 48px;
  --spacing-4xl: 64px;

  /* shadows */
  --shadow-sm: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.05);
  --shadow-md: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 0.625rem 0.9375rem rgba(0, 0, 0, 0.15);
  --shadow-xl: 0 1.25rem 1.5625rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 0 0.25rem -0.125rem rgba(0, 0, 0, 0.55);

  /* borders */
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;

  /* transitions */
  --transition-fast: 0.2s ease-in-out;
  --transition-medium: 0.5s ease-in-out;
  --transition-slow: 1s ease-in-out;

  /* text shadows */
  --text-shadow-sm: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
  --text-shadow-md: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  --text-shadow-lg: 0.1875rem 0.1875rem 0.375rem rgba(0, 0, 0, 0.5);
  --text-shadow-hero: 0.2rem 0.125rem 0.2rem rgba(0, 0, 0, 0.8);

  /* box shadows */
  --box-shadow-image: 0.375rem 0.125rem 1rem 0px rgba(136, 165, 191, 0.48),
    -0.375rem -0.125rem 1rem 0rem rgba(255, 255, 255, 0.8);

  /* common */
  --border-radius: 1.2rem;
  --text-shadow-white: 0.125rem 0.125rem 0.3125rem rgba(255, 255, 255, 0.2);
  --text-shadow: 0.125rem 0.125rem 0.3125rem #000;
  --box-shadow: 0rem 0.9375rem 1.5625rem rgba(0, 0, 0, 0.08);
  --transition: all 0.5s ease;

  /* Body */
  --font-weight-body: 500;
  --font-size-body: 1rem;
  --letter-spacing-body: 0.035rem;
  --word-spacing-body: var(--spacing-xs);
  --color-text-body: var(--color-text);

  /* Buttons  */
  --gradient-btn: linear-gradient(
    to right,
    var(--color-primary-900),
    var(--color-primary-800),
    var(--color-primary-700)
  );

  --btn-font-weight: 500;
  --btn-font-size: clamp(0.95rem, 2vw, 1.1rem);
  --btn-text-color: var(--color-white);
  --btn-letter-spacing: 0.04rem;
  --btn-word-spacing: none !important;
  --btn-text-shadow: none !important;
  --btn-text-transform: capitalize;
  --btn-color: var(--color-secondary);
  --btn-hover-color: var(--color-primary);
  --btn-bg-gradient: var(--gradient-btn);
  --btn-hover-gradient: var(--gradient-btn-hover);
  --btn-border-radius: var(--border-radius-sm);
  --btn-border-color: rgba(133, 210, 18, 0.5);
  --btn-hover-border-color: rgba(133, 210, 18, 0.5);
  --btn-box-shadow: inset 0 0.2rem 2rem rgba(0, 0, 0, 0.88),
    0 0rem 0.5rem 0rem rgba(133, 210, 18, 0.3);
  --btn-hover-box-shadow: inset 0 0.2rem 2rem rgba(0, 0, 0, 0.78),
    0 0rem 0.7rem 0rem rgba(133, 210, 18, 0.7);
  --btn-transition: var(--transition-medium);

  /* header */
  --header-background-color: var(--color-background);
  --header-top-gradient-bar: var(--gradient-header-top-bar);
  --header-gradient-background: var(--gradient-white);

  --logo-gradient: var(--gradient-logo);
  --logo-hover-gradient: var(--gradient-logo-hover);
  --logo-font-size: 2rem;
  --logo-font-weight: 700;
  --logo-letter-spacing: -0.1rem;
  --hamburger-dark-bar: var(--color-primary);
  --hamburger-light-bar: var(--color-secondary);

  --navbar-background-color: var(--gradient-white);
  --nav-link-font-size: 1.1rem !important;
  --nav-link-font-weight: 600;
  --nav-link-text-shadow: none !important;
  --nav-link-color: var(--color-grey);
  --nav-link-active-color: var(--color-primary);

  /* section titles & description */
  --section-title-color: var(--color-text-dark);
  --section-title-font-size: clamp(1.8rem, 4vw, 3rem);
  --section-title-font-weight: 700;
  --section-description-color: var(--color-text-body);
  --section-description-font-size: clamp(1rem, 2vw, 1.25rem);
  --section-description-max-width: 50rem;
  --section-description-margin: 2rem auto 3rem;

  /* cards */
  --card-background-color: var(--color-white);
  --card-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --card-shadow-hover: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
}

*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  border: 0 solid !important;
  box-sizing: border-box !important;
  text-decoration: none !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  margin: 0;
  background-color: var(--color-background);
  /* background: var(--gradient-white) !important; */
  color: var(--color-text-body) !important;

  font-family: var(--font-family) !important;
  font-size: var(--font-size-body) !important;
  font-weight: var(--font-weight-body) !important;
  letter-spacing: var(--letter-spacing-body);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  overflow-x: hidden;
}

a,
li {
  text-decoration: none;
}

ul {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  color: var(--color-text-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
}
h1 {
  margin: 0;
  padding: 0;
  color: var(--color-white) !important;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headings) !important;
  font-weight: 800 !important;
}

h5 {
  font-weight: 800 !important;
}

.btn {
  outline: none !important;
  color: var(--btn-text-color) !important;
  background-color: var(--btn-color);
  padding: 0.5rem !important;
  white-space: nowrap;
  font-size: var(--btn-font-size) !important;
  font-weight: var(--btn-font-weight) !important;
  letter-spacing: var(--btn-letter-spacing) !important;
  word-spacing: var(--btn-word-spacing) !important;
  text-transform: var(--btn-text-transform);
  text-shadow: var(--btn-text-shadow);
  border-radius: var(--btn-border-radius);
  border-width: 1px !important;
  border-style: solid;
  border-color: var(--btn-border-color) !important;
  transition: var(--btn-transition);
  cursor: pointer;
}

.btn-hero {
  background-color: var(--btn-color) !important;
  box-shadow: var(--btn-box-shadow);
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--btn-hover-color) !important;
  border-color: var(--btn-hover-border-color) !important;
  box-shadow: var(--btn-hover-box-shadow);
}

.btn-green {
  background-color: var(--btn-color);
  background: var(--gradient-btn);
}

.btn-green:hover {
  transition: transform ease 0.2s;
  box-shadow: 0 0.625rem 1.5625rem -0.3125rem var(--color-primary-900);
}

.btn-card {
  width: 100%;
}

.btn-outline-green {
  background: none;
  background-color: transparent !important;
  text-shadow: none !important;
  padding: 0.5rem 1.5rem !important;
  color: var(--btn-color) !important;
  border-color: var(--btn-color) !important;
}

.btn-outline-green:hover {
  transition: transform ease 0.2s;
  background-color: var(--btn-color) !important;
  color: var(--btn-text-color) !important;
}

.section-wrapper {
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
  box-shadow: var(--shadow-light);
}

.section-wrapper:not(.hero-section):not(.testimonials-section):nth-child(even) {
  background-color: var(--color-accent-light) !important;
}

.section-wrapper:nth-child(odd) {
  background-color: var(--color-white) !important;
  background-image: radial-gradient(
    100% 50% at 50% 0,
    rgba(0, 163, 255, 0.13) 0,
    rgba(0, 163, 255, 0) 50%,
    rgba(0, 163, 255, 0) 100%
  );
  background-blend-mode: multiply;
}

.container-wrapper {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.card {
  padding-bottom: 1rem;
  background-color: var(--card-background-color) !important;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--card-shadow);
  transition: var(--transition-medium);
}

.card:hover .card-body {
  color: var(--color-text);
}

/* .card:hover {
  transform: translateY(-0.3125rem);
  box-shadow: var(--card-shadow-hover);
} */

.card-image-wrapper {
  overflow: hidden;
}

.card-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 2;
  transition: var(--transition-medium);
}

.card:hover .card-image {
  transform: scale(1.07);
}

.card-title {
  font-family: var(--h1-font-family);
  font-weight: 700 !important;
}

.card:hover .card-title {
  color: var(--color-secondary);
}

.card-description {
  color: var(--color-dark-grey);
}

.card:hover .card-description {
  color: var(--color-dark-grey);
}

@media (min-width: 62rem) {
  .container {
    max-width: 60rem !important;
    /* background-color: red !important; */
  }
}

/* animations */
/* Fade-in animations */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.fade-in.delay-1s {
  animation-delay: 0.3s;
}

.fade-in.delay-2s {
  animation-delay: 0.6s;
}

.fade-in.delay-3s {
  animation-delay: 0.9s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
