.footer-section {
  background-color: var(--primary);
  background: var(--gradient-secondary);
  padding-top: 4rem;
}

.footer-section * {
  color: var(--color-white) !important;
}
/*
.newsletter-card {
  display: flex;
  place-items: center;
  text-align: center;
  gap: 1rem;
  padding: 3rem 2rem;
  margin: -1rem auto 0 auto;
  background-color: var(--color-secondary);
  background: var(--gradient-secondary);
  max-width: 36rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-dark);
  transform: translateY(-35%); /* float card downward into footer /
}

.newsletter-card * {
  color: var(--color-white) !important;
}

.newsletter-card .btn-green {
  color: var(--color-white) !important;
}

.footer-content {
  margin-top: -3rem;
} */

.footer-content .col:first-child .list-group {
  --bs-list-group-item-padding-x: 0 !important;
}

.footer-content .col-headings,
.fa-icon {
  /* display: flex;
  align-items: baseline;
  flex-flow: row nowrap;
  /*justify-content: center;
  align-items: baseline; *
  gap: 0.5rem; */
  display: inline-block;
  vertical-align: middle;
}

.footer-content .col-headings .fa-icon {
  vertical-align: text-bottom;
  color: red !important;
}

.list-group {
  --bs-list-group-bg: transparent !important;
}

.list-group-item {
  border: 0;
}
.list-group-item a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}

.list-group-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--color-white);
  transition: width 0.3s ease-in-out;
}

.footer-section .list-group-item:hover a::after {
  width: 100%;
}

hr {
  width: 100vw !important;
  margin: 2rem auto 1rem;
  border: 1px solid #888 !important;
}
