.footer-section {
  background-color: var(--color-primary);
  background: var(--gradient-secondary);
  padding-top: 4rem;
}

.footer-section * {
  color: var(--color-white) !important;
}

.footer-contact {
  --bs-list-group-item-padding-x: 0 !important;
}

.list-group {
  --bs-list-group-bg: transparent !important;
}

.list-group-item {
  border: 0;
}

.list-group-item a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}

.list-group-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--color-white);
  transition: width 0.3s ease-in-out;
}

.footer-section .list-group-item:hover a::after {
  width: 100%;
}

hr {
  width: 100vw !important;
  margin: 2rem auto 1rem;
  border: 1px solid #888 !important;
}
